<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="qimonjy.cn.swfgame.dds">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".DDSMainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <!--<activity-->
            <!--android:name=".DDSHelpActivity"-->
            <!--android:screenOrientation="landscape"-->
            <!--android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>-->
        <activity
            android:name=".DDSGameActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".GameOverActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
    </application>
</manifest>